[submodule "bundle/vim-gocode"]
	path = bundle/vim-gocode
	url = https://github.com/Blackrush/vim-gocode.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/ctags"]
	path = bundle/ctags
    url = https://github.com/universal-ctags/ctags.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git
